.services {
  padding: 1.25rem; /* 20px */
  text-align: center;
}

.services ul {
  list-style-type: none;
  padding: 0;
}

.services ul li {
  margin: 0.625rem 0; /* 10px */
}

.one {
  display: flex;
  justify-content: space-around;
}
